.dropdown {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: white;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
}

.dropdown:hover {
    border-color: #bbb;
}
