.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(184, 210, 235, 1);
}

.box {
  background-color: 'white';
  width: '800px';
  padding: '50px';
  margin: '20px';
  box-sizing: 'border-box';
  position: 'relative';
  border-radius: '10px';
  box-Shadow: '0 2px 5px rgba(0,0,0,0.2)';

}

.input-text {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: rgba(76, 145, 249, 1);
  color: white;
  border: none;
  border-radius: '5px';
  box-shadow: '0 2px 5px rgba(0,0,0,0.2)';
}
